<div style="padding-left:30px;">
    <div class="comment_info">
        <div><%= comment.author.email %></div>
        <div>
        <%= comment.created_at %>
        <% if comment.created_at != comment.updated_at %>
            | (<%= comment.updated_at %>)
        <% end %>
        </div>
    </div>
    <div class="comment_content"><%= comment.body %></div>
    <%= render 'comments/form_reply', post: comment.post, comment: comment %>
    <div class="comment_replies">
        <% comment.replies.order(created_at: :desc).each do |reply| %>
        <%= render 'comments/comment', comment: reply, post: comment.post %>
        <% end %>
    </div>
</div>
